<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_tumn"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/ic_tumn"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        

        <activity
            android:name=".Sidebar"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

     

        <service android:name=".service.MainService"
            android:enabled="true"
            android:exported="false" />

        <service android:name=".floating.Overlay" />
        <service android:name=".floating.FloatService" />
        <service android:name=".floating.ToggleBullet" />
        <service android:name=".floating.ToggleAim" />
        <service android:name=".floating.ToggleSimulation" />
        <service android:name=".floating.FightMode" />
        


        
        <provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="${applicationId}.provider"
    android:exported="false"
    android:grantUriPermissions="true">
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
</provider>


    </application>
</manifest>
